
@{
    ViewBag.Title = "Home Page";
    ViewBag.classHName = "active";
    Layout = "~/Views/Shared/_Vandanam.cshtml";
}



<div class="flexslider">
    <ul class="slides">
        <li>
            <img src="~/images/slide-4.jpg" alt="...">
            <div class="carousel-caption">
                <img src="~/images/stars.png" alt="">
                <h2>Welcome to Vandanam Villas</h2>
                <p>Cogitavisse erant puerilis utrum efficiantur adhuc expeteretur.</p>
            </div>
        </li>
        <li>
            <img src="~/images/slide-2.jpg" alt="...">
            <div class="carousel-caption">
                <img src="~/images/stars.png" alt="">
                <h2>Feel Like Your Home</h2>
                <p>Cogitavisse erant puerilis utrum efficiantur adhuc expeteretur.</p>
            </div>
        </li>
        <li>
            <img src="~/images/slide-3.jpg" alt="...">
            <div class="carousel-caption">
                <img src="~/images/stars.png" alt="">
                <h2>Perfect Place for Dining</h2>
                <p>Cogitavisse erant puerilis utrum efficiantur adhuc expeteretur.</p>
            </div>
        </li>
       
    </ul>
</div>

<!--<div class="mg-book-now">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h2 class="mg-bn-title">Search Rooms <span class="mg-bn-big">For rates & availability</span></h2>
            </div>
            <div class="col-md-9">
                <div class="mg-bn-forms">
                    <form>
                        <div class="row">
                            <div class="col-md-3 col-xs-6">
                                <div class="input-group date mg-check-in">
                                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Check In">
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <div class="input-group date mg-check-out">
                                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Check Out">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <select class="cs-select cs-skin-elastic">
                                            <option value="" disabled selected>Adult</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-6">
                                        <select class="cs-select cs-skin-elastic">
                                            <option value="" disabled selected>Child</option>
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-main btn-block">Check Now</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>-->

<div class="mg-best-rooms">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mg-sec-title">
                    <h2>Our Best Rooms</h2>
                    <p>These best rooms chosen by our customers</p>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <figure class="mg-room">
                            <img src="~/images/room-1.png" alt="img11" class="img-responsive">
                            <figcaption>
                                <h2>Super Deluxe</h2>
                                <div class="mg-room-rating"><i class="fa fa-star"></i> 5.00</div>
                                <div class="mg-room-price">$249<sup>.99/Night</sup></div>
                                <p>adversantur probatum iudicante indicaverunt repugnantibus.</p>
                                <a href="#" class="btn btn-link">View Details <i class="fa fa-angle-double-right"></i></a>
                                <a href="#" class="btn btn-main">Book</a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-sm-4">
                        <figure class="mg-room">
                            <img src="~/images/room-2.png" alt="img11" class="img-responsive">
                            <figcaption>
                                <h2>Super Deluxe</h2>
                                <div class="mg-room-rating"><i class="fa fa-star"></i> 5.00</div>
                                <div class="mg-room-price">$249<sup>.99/Night</sup></div>
                                <p>adversantur probatum iudicante indicaverunt repugnantibus.</p>
                                <a href="#" class="btn btn-link">View Details <i class="fa fa-angle-double-right"></i></a>
                                <a href="#" class="btn btn-main">Book</a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-sm-4">
                        <figure class="mg-room">
                            <img src="~/images/room-3.png" alt="img11" class="img-responsive">
                            <figcaption>
                                <h2>Super Deluxe</h2>
                                <div class="mg-room-rating"><i class="fa fa-star"></i> 5.00</div>
                                <div class="mg-room-price">$249<sup>.99/Night</sup></div>
                                <p>adversantur probatum iudicante indicaverunt repugnantibus.</p>
                                <a href="#" class="btn btn-link">View Details <i class="fa fa-angle-double-right"></i></a>
                                <a href="#" class="btn btn-main">Book</a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="container">
    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>
</div> -->
<div class="mg-about parallax">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h2 class="mg-sec-left-title">About Vandanam Villas</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliqua venandi mutat plerisque nostrum vos, geometria intellegimus percurri mediocritatem aeque suppetet explicatis, praeclaram ambigua cogitavisse vituperatoribus dicent signiferumque alios improbe, reliquisti rudem, consedit pendet circumcisaque amorem patria magnopere inmortalibus dolere. Didicisset labore vitium referenda labor peccant integre turpe est tantopere, eius defuturum sua dolorum crudelis exercitumque, nobis, videntur doloribus patre poetarum omnisque cognitionem primum, atomos certamen possent, adversantur probatum iudicante indicaverunt repugnantibus, operis aequi aequitate clarorum occultarum multa diis sine inter.</p>
            </div>
            <div class="col-md-5">
                <div class="video-responsive">
                    <iframe src="https://player.vimeo.com/video/134008155" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mg-features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mg-sec-title">
                    <h2>Hotel facilties</h2>
                    <p>These best rooms chosen by our customers</p>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="mg-feature">
                            <div class="mg-feature-icon-title">
                                <i class="fp-ht-receptionist"></i>
                                <h3>24-hour reception</h3>
                            </div>
                            <p>Didicisset labore vitium referenda labor peccant integre turpe est tantopere, eius defuturum sua dolorum.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="mg-feature">
                            <div class="mg-feature-icon-title">
                                <i class="fa fa-cogs"></i>
                                <h3>Room service</h3>
                            </div>
                            <p>Didicisset labore vitium referenda labor peccant integre turpe est tantopere, eius defuturum sua dolorum.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="mg-feature">
                            <div class="mg-feature-icon-title">
                                <i class="fa fa-car"></i>
                                <h3>Car hire</h3>
                            </div>
                            <p>Didicisset labore vitium referenda labor peccant integre turpe est tantopere, eius defuturum sua dolorum.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="mg-feature">
                            <div class="mg-feature-icon-title">
                                <i class="fa fa-phone"></i>
                                <h3>Wake-up call</h3>
                            </div>
                            <p>Didicisset labore vitium referenda labor peccant integre turpe est tantopere, eius defuturum sua dolorum.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="mg-feature">
                            <div class="mg-feature-icon-title">
                                <i class="fa fa-coffee"></i>
                                <h3>Coffee and tea</h3>
                            </div>
                            <p>Didicisset labore vitium referenda labor peccant integre turpe est tantopere, eius defuturum sua dolorum.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="mg-feature">
                            <div class="mg-feature-icon-title">
                                <i class="fa fa-cogs"></i>
                                <h3>Free Wi-Fi</h3>
                            </div>
                            <p>Didicisset labore vitium referenda labor peccant integre turpe est tantopere, eius defuturum sua dolorum.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mg-testi-partners parallax">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="mg-sec-left-title">Testimonial</h2>
                <div class="mg-testimonial-slider" id="mg-testimonial-slider">
                    <blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consumeret terminatas oritur euripidis satis. Venisset ipsum.</p>
                        <footer>John Doe, Example Inc</footer>
                    </blockquote>
                    <blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sol magnum gustare pararetur statuam, morbi patriam omittantur.</p>
                        <footer>John Doe, Example Inc</footer>
                    </blockquote>
                    <blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Stabilem monet, petat excepturi nudus expeteremus fabellas vexetur.</p>
                        <footer>John Doe, Example Inc</footer>
                    </blockquote>
                </div>
            </div>
            @*<div class="col-md-6">
                <h2 class="mg-sec-left-title">Our Partners</h2>
                <ul class="mg-part-logos" id="mg-part-logos">
                    <li><img src="~/images/part-logo-1.png" alt="Partner Logo"></li>
                    <li><img src="~/images/part-logo-2.png" alt="Partner Logo"></li>
                    <li><img src="~/images/part-logo-3.png" alt="Partner Logo"></li>
                    <li><img src="~/images/part-logo-1.png" alt="Partner Logo"></li>
                    <li><img src="~/images/part-logo-3.png" alt="Partner Logo"></li>
                </ul>
            </div>*@
        </div>
    </div>
</div>

<div class="mg-news-gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="mg-sec-left-title">Recent News</h2>
                <ul class="mg-recnt-posts">
                    <li>
                        <div class="mg-recnt-post">
                            <div class="mg-rp-date">27 <div class="mg-rp-month">may</div></div>
                            <h3><a href="#">A Standard Blog Post</a></h3>
                            <p>Nostram virtutem poterimus quoddam praesertim legendos libero exhorrescere saluti...</p>
                        </div>
                    </li>
                    <li>
                        <div class="mg-recnt-post">
                            <div class="mg-rp-date">27 <div class="mg-rp-month">may</div></div>
                            <h3><a href="#">A Standard Blog Post</a></h3>
                            <p>Nostram virtutem poterimus quoddam praesertim legendos libero exhorrescere saluti...</p>
                        </div>
                    </li>
                    <li>
                        <div class="mg-recnt-post">
                            <div class="mg-rp-date">27 <div class="mg-rp-month">may</div></div>
                            <h3><a href="#">A Standard Blog Post</a></h3>
                            <p>Nostram virtutem poterimus quoddam praesertim legendos libero exhorrescere saluti...</p>
                        </div>
                    </li>
                </ul>
            </div>
            @*<div class="col-md-7">
                <h2 class="mg-sec-left-title">Our Gallery</h2>

                <div class="mg-gallery-container">
                    <ul class="mg-gallery" id="mg-gallery">
                        <li><img src="~/images/gallery-01.png" alt="Partner Logo"></li>
                        <li><img src="~/images/gallery-02.png" alt="Partner Logo"></li>
                        <li><img src="~/images/gallery-05.png" alt="Partner Logo"></li>
                        <li><img src="~/images/gallery-06.png" alt="Partner Logo"></li>
                        <li><img src="~/images/gallery-07.png" alt="Partner Logo"></li>
                        <li><img src="~/images/gallery-08.png" alt="Partner Logo"></li>
                    </ul>
                    <ul class="mg-gallery-thumb" id="mg-gallery-thumb">
                        <li><img src="~/images/gallery-thumb-01.png" alt="Partner Logo"></li>
                        <li><img src="~/images/gallery-thumb-02.png" alt="Partner Logo"></li>
                        <li><img src="~/images/gallery-thumb-05.png" alt="Partner Logo"></li>
                        <li><img src="~/images/gallery-thumb-06.png" alt="Partner Logo"></li>
                        <li><img src="~/images/gallery-thumb-07.png" alt="Partner Logo"></li>
                        <li><img src="~/images/gallery-thumb-08.png" alt="Partner Logo"></li>
                    </ul>
                </div>
            </div>*@
        </div>
    </div>
</div>
@section scripts{



<script type="text/javascript">

    $(window).load(function () {
      $('.flexslider').flexslider({
        animation: "slide",
        start: function(slider){
          //$('body').removeClass('loading');
        }
      });
    });
</script>

}